<div>

    <h2 translate="modules.title.modstates">Modulestates</h2>

    <p translate="modules.text.intro">Übersicht über alle zu besuchenden Module</p>

    <h3 translate="modules.text.passedMod">Abgeschlossene Module</h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th translate="modules.form.type">Type</th>
                <th>Name</th>
                <th translate="modules.form.minLessons">MinLessons</th>
                <th translate="modules.form.passed">Passed</th>
                <th translate="modules.form.year">Year</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="module in finishedModules">
                <td>{{module.id}}</td>
                <td>{{module.type}}</td>
                <td>{{module.name}}</td>
                <td>{{module.minLessons}}</td>
                <td>{{module.passed}}</td>
                <td>{{module.year}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <h3 translate="modules.text.openMod">Offene Module</h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th translate="modules.form.type">Type</th>
                <th>Name</th>
                <th translate="modules.form.minLessons">MinLessons</th>
                <th translate="modules.form.passed">Passed</th>
                <th translate="modules.form.year">Year</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="module in openedModules">
                <td>{{module.id}}</td>
                <td>{{module.type}}</td>
                <td>{{module.name}}</td>
                <td>{{module.minLessons}}</td>
                <td>{{module.passed}}</td>
                <td>{{module.year}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
